*{
    box-sizing: border-box;
    /* outline: solid 1px red; */
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
.body{
    height: 100vh;
    display: flex;
}
.container{
    width: 95%;
    max-width: 400px;
    height: 100%;
    max-height: 500px;
    background-color: rgba(128, 128, 128, 0.253);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.582);
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.image_cont{
    height: 200px;
    width: 200px;
}
.image{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
.details{
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    line-height: 2;
}
.link{
    text-decoration: none;

}